extends layouts/main
include mixins/videoPlayer

block content
    div.video-detail__container
        +videoPlayer({
            src: videoDB.fileUrl
        })
        div.video__info
            if loggedUser && videoDB.creator.id === loggedUser.id
                a(href=`${routes.editVideo(videoDB.id)}`) 
                    button Edit video
            h5.video__title=videoDB.title
            p.video__description=videoDB.description
            if videoDB.views === 1
                span.video__views 1 view
            else
                span.video__views #{videoDB.views} views
            div.video__author
                | Uploaded by
                a(href=routes.userDetail(videoDB.creator.id))=`${videoDB.creator.name}`
        div.video__comments
            if videoDB.comments.length === 1
                span.video__comment-number 
                    span.jsCommentNumber 1 
                    |  comment
            else
                span.video__comment-number 
                    span.jsCommentNumber=videoDB.comments.length
                    |  comments
                //- comment form에만 액션이나 http 메소드가 없는 이유 ? 자바스크립트에서 다룰 것이기 때문
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment")
            ul.video__comments-list#jsCommentList
                each comment in videoDB.comments.reverse()
                    li
                        span=comment.text


