//- mixins의 이점 : 데이터를 직접 쓰지 않고(이 코드의 경우 객체 정보를 인자로 넘긴다) 캡슐화를 가능케하며, 다른 정보, 같은 구조를 갖는 코드를 작성할 때 용이함. 

mixin videoBlock(video)
    div.videoBlock
        a(href=`${routes.videoDetail(video.id)}`)
            video.videoBlock__thumbnail(src=video.videoFile, controls=true)
            h4.videoBlock__title=video.title
            h6.videoBlock__views=video.views